<footer>
	<div id="column-heading">
		<b>STAY IN TOUCH</b>
	</div>
	<div id="columns">
		<div class="column1">
			<b>Contact : </b>
			<br>
			<br>
			<b>GUEST HOUSE</b>
			<br>
			<b>NATIONAL INSTITUTE OF TECHNOLOGY , SILCHAR</b>
			<br>
			<b>Pin Code: 788010, Silchar</b>
			<br>
			<b>District : Cachar</b>
			<br>
			<b>Assam</b>
		</div>

		<div class="column2">
			<br>
			<br>
			<b>Phone No: </b>
			<br>
			<br>
			<b>Email: </b>
			<br>
		</div>

		<div class="column3">
			<b>CONNECT WITH US</b>
			<div id="icons">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-google-plus-square"></i>
				<i class="fab fa-instagram"></i>
			</div>
			
		</div>
	</div>
</footer>

