<!-- mobile view -->
<nav class="navbar1-mbl">
    <ul class="nav1-mbl">
        <li id="brand"><a href="#">NIT SILCHAR GUEST HOUSE</a></li>
        <li id="hamburger">&#9776;</li>
    </ul>
</nav>
<div id='menu' class="hidden">
    <div class="menu-item" id="abt-item"><a href="">ABOUT </a><i class="icon"
            style="font-weight:bold;font-size:3vh;">&#8964;</i>
    </div>
    <div class="sub-menu hidden" id="abt-sub">
        <div class=" abt-sub"><a href="">Our Vision & Mission</a></div>
        <div class=" abt-sub "><a href="">Our Objective & Values</a></div>
        <div class=" abt-sub"><a href="">Message from the Director</a></div>
        <div class=" abt-sub"><a href="">List of Director</a></div>
    </div>
   <div class="menu-item"><a href="">HOME</a></div>
    <div class="menu-item"><a href="">ACCOMODATION</a></div>
    <div class="menu-item"><a href="">DINING</a></div>
    <div class="menu-item"><a href="">PEOPLE</a></div>
    <div class="menu-item"><a href="">RESERVATION & CANCELLATION</a></div>
    <div class="menu-item"><a href="">ABOUT US</a></div>
    <div class="menu-item"><a href="">CONTACT US</a></div>
</div>