<nav class="navbar1">
    <ul class="nav1">
        <li id="brand"><a href="#">NATIONAL INSTITUTE OF TECHNOLOGY , SILCHAR</a></li>
        <li id = "house"><a href="#">GUEST HOUSE</a></li>
        <li><a href="#"><i class="far fa-address-book"></i>Contact Us</a></li>
        <li><a href="#map"><i class="fas fa-map-marker-alt"></i>Location</a></li>
    </ul>
</nav>

<nav class="navbar2">
    <ul class="nav2">
        <li id="abt"><a href="/">HOME</a></li>
        <li id="admin"><a href="/accomodation">ACCOMODATION</a></li>
        <!-- <div id="admin-nav-lg" class="sub-nav-lg">
            <div class="nav-items"><a href="#">Director</a></div>
            <div class="nav-items"><a href="#">Registrar</a></div>
            <div class="nav-items"><a href="#">Deans</a></div>
            <div class="nav-items"><a href="#">Associate Deans</a></div>
            <div class="nav-items"><a href="#">HODs</a></div>
            <div class="nav-items"><a href="#">Deputy Registrar</a></div>
            <div class="nav-items"><a href="#">Wardens</a></div>
            <div class="nav-items"><a href="#">Establishment Section</a></div>
            <div class="nav-items"><a href="#">Estate Engineering Section</a></div>
            <div class="nav-items"><a href="#">Board of Governors</a></div>
            <div class="nav-items"><a href="#">Senate Committe</a></div>
            <div class="nav-items"><a href="#">Building & Works Committe</a></div>
-->

        <!-- </div> -->
        <li id="dept"><a href="/about">DINING</a></li>
        <!-- <div id="dept-nav-lg" class="sub-nav-lg">
            <div class="nav-items"><a href="#">Computer Science & Engineering</a></div>
            <div class="nav-items"><a href="#">Electronics & Communication Engineering</a></div>
            <div class="nav-items"><a href="#">Electronics & Instrumentation Engineering</a></div>
            <div class="nav-items"><a href="#">Electrical Engineering</a></div>
            <div class="nav-items"><a href="#">Mechanical Engineering</a></div>
            <div class="nav-items"><a href="#">Civil Engineering</a></div>
            <div class="nav-items"><a href="#">Mathematics</a></div>
            <div class="nav-items"><a href="#">Physics</a></div>
            <div class="nav-items"><a href="#">Chemistry</a></div>
            <div class="nav-items"><a href="#">Humanities</a></div>
            <div class="nav-items"><a href="#">Management Studies</a></div> -->
        <!-- </div> -->
        <li id="acad"><a href="/about">PEOPLE</a></li>
        <!-- <div id="acad-nav-lg" class="sub-nav-lg">
            <div class="nav-items"><a href="#">Programmes</a></div>
            <div class="nav-items"><a href="#">Rules & Regulations</a></div>
            <div class="nav-items"><a href="#">Academic Notices</a></div>
            <div class="nav-items"><a href="#">Academics Forms</a></div>
            <div class="nav-items"><a href="#">Academics Calender/Time Table</a></div>
            <div class="nav-items"><a href="#">Fee Structure</a></div>
            <div class="nav-items"><a href="#">Results</a></div>
            <div class="nav-items"><a href="#">Convocation</a></div>
            <div class="nav-items"><a href="#">Document Verification(UG/PG/PHD)</a></div>
            <div class="nav-items"><a href="#">Internship</a></div> -->
        <!-- </div> -->
        <li id="research"><a href="/booking">RESERVATION & CANCELLATION</a></li>
        <li id="achieve"><a href="/about">ABOUT US</a></li>
        <!-- <li id="campus">CAMPUS LIFE</li>
        <div id="campus-nav-lg" class="sub-nav-lg">
            <div class="nav-items"><a href="#">Gymkhana</a></div>
            <div class="nav-items"><a href="#">Gyansagar</a></div>
            <div class="nav-items"><a href="#">NCC-NITS</a></div>
            <div class="nav-items"><a href="#">Sports & Games</a></div>
            <div class="nav-items"><a href="#">Societies</a></div>
            <div class="nav-items"><a href="#">Festivals</a></div>
            <div class="nav-items"><a href="#">Alumni</a></div>
            <div class="nav-items"><a href="#">Health Centre</a></div>
            <div class="nav-items"><a href="#">Hostels</a></div>
            <div class="nav-items"><a href="#">Guest House</a></div>
            <div class="nav-items"><a href="#">Photo-Gallery</a></div>
        </div>
    </ul> -->
</nav>
