body{
	/*font-family: 'Raleway', sans-serif; */
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;

}


* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3vmin;
}
a{
  color: black;
  font-weight: bold;
   font-size: 2.3vmin;
}
nav li a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

/* navbar first */
.navbar1 {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  background: #b1040e;
  height: 5vh;
  line-height: 5vh;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.nav1 {
  display: flex;
  justify-content: space-around;
}

.nav1 li a {
  color: white;
  height: 100%;
}

#brand {
  flex-basis: 50vw;
}

/* for second navbar */
.navbar2 {
  position: relative;
  z-index: 100;
  top: 5vh;
  left: 0;
  width: 100vw;
  background: white;
  height: 8vh;
  line-height: 8vh;
  color: black;
  box-shadow: 0px 5px #dddddd;
}

.nav2 {
  display: flex;
  justify-content: space-around;
}

.nav2 li {
  color: black;
  font-size: 2.7vmin;
  font-weight: bold;
  cursor: pointer;
}

.nav2 li:hover {
  color: #b1040e;
  transition: 0.3s;
}
.nav2 li a:hover {
  color: #b1040e;
  transition: 0.3s;
}

.sub-nav-lg {
  background: rgba(128, 0, 0, 0.8);
  text-align: center;
  box-sizing: border-box;
  border-top: 0.4px solid red;
  z-index: 10001;
  height: 50vh;
  overflow-y: scroll;
}

.sub-nav-lg::-webkit-scrollbar {
  width: 1vw;
}

.sub-nav-lg::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  outline: 1px solid #d3d3d3;
}

.sub-nav-lg a:hover {
  color: gray;
}

#abt-nav-lg {
  position: absolute;
  left: 1vw;
  top: 8vh;
}

#admin-nav-lg {
  position: absolute;
  left: 12.8vw;
  top: 8vh;
}

#dept-nav-lg {
  position: absolute;
  left: 23.5vw;
  top: 8vh;
}
#acad-nav-lg {
  position: absolute;
  left: 43vw;
  top: 8vh;
}
#campus-nav-lg {
  position: absolute;
  left: 85.7vw;
  top: 8vh;
}

.nav-items {
  margin-left: 2vw;
  margin-right: 2vw;
}

.nav-items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2vh;
}
#abt a{
font-weight: bold;
  font-size: 2.7vh;
}
#admin a{
font-weight: bold;
  font-size: 2.7vh;
}
#research a{
  font-weight: bold;
  font-size: 2.7vh;
}

@media (min-width: 950px) {
  #menu {
    display: none;
  }
}

@media (max-width: 950px) {
  .navbar1 {
    display: none;
  }

  .navbar2 {
    display: none;
  }

  .navbar1-mbl {
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 8vh;
    line-height: 8vh;
    background: #b1040e;
  }

  nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 3vh;
  }

  .nav1-mbl {
    display: flex;
    justify-content: space-between;
  }

  #hamburger {
    font-weight: bolder;
    font-size: 3vh;
    color: white;
    margin-right: 3vw;
    cursor: pointer;
  }

  #brand {
    flex-basis: 50vw;
  }

  .menu-item {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    line-height: 9vh;
    border: 0.4px solid #d3d3d3;
    box-sizing: border-box;
    cursor: pointer;
  }

  .icon {
    margin-right: 2vw;
  }

  .menu-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 2vw;
    font-size: 3vh;
  }

  .sub-menu {
    color: black;
    background: #d7d7d7;
  }

  .abt-sub {
    position: relative;
    left: 7vw;
    height: 5vh;
    line-height: 5vh;
    width: 70vw;
    font-weight: bold;
  }

  .abt-sub a {
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
  }

  .hidden {
    display: none;
  }
}




.container{
	
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right: 200px; 
	background-color: #fafafa;
	margin-top: 6vh; 
	box-shadow:10px 15px 20px rgba(0,0,0, .1);
	display: grid;
	grid-template-columns: 40% 60%;
}

.container-time{
	background-color: rgba(0,0,0, .95);
	padding: 50px;
	outline: 3px dashed #998100;
	outline-offset: -30px;
	text-align: center;
}
.heading{
	font-size: 35px;
	text-transform: uppercase;
}

.heading-days{
	color: #998100;
	font-size: 30px;
}

.heading-phone{
	margin-top: 2vh;
	font-size: 20px;
}

.container-form{
	padding: 20px 0;
	margin: 0 auto;
	color: #000;
}
.para{
	margin-bottom: 2vh; 
}
form{
	display: grid;
	grid-row-gap: 20px;
}
form p{
	font-weight: 600;
}
.form-field{
	display: flex;
	justify-content: space-between;
}

input,select{
	pad: 10px 15px;
}
.btn{
	background-color: rgba(0,0,0, .95);
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0,0,0, .1);
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;

}
.btn-hover{
	transform: scale(1.03);
	-webkit-transform : scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0,0,0, .3);
}


footer{
  bottom: 0;
padding-top: 2vh; 
  margin-top: 5vh;
  width: 100vw;
  height: 30vh;
  background-color: black;
}

#column-heading{
  width: 100%;
  height: 5vh;
  margin-left: 10vw;
}

#columns{
  display: flex;
  color: white;
  justify-content: space-between;
}

.column1{
  margin-left: 3vw;
}

.comlumn2{
}

.column3{
margin-right: 5vw;
}
